.products {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    align-items: start;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .products{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    .products{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 1400px){
    .products{
        grid-template-columns: repeat(6, 1fr);
    }
}